
button {
    border: none;
    background-color: rgb(255, 255, 255);
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    // border-radius: 10px;
    outline: none;
}
  
button:hover {
    background-color: rgb(150, 150, 150);
}

.operand {
    background-color: rgb(230, 230, 230);
}

.calcZero {
    border-bottom-left-radius: 9px;
}
  
.equals {
    grid-column: 3 / 5;
    background-color: rgb(255, 77, 45);
    border-bottom-right-radius: 9px;
}
  
.equals:hover {
    background-color: rgb(216, 49, 27);
}